Repository NationalSecurityAgency/ghidra, pull requests merged in 2019-12, with the labels that each got.

#1303 x86: Add SETALC instruction to SLEIGH files
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86

#1278 ARM: Correct Sleigh constructor for VCVT{R}<c>.S32.F32
  Ghidra/Processors/ARM/data/languages/ARMneon.sinc
Labels: Feature: Processor/ARM

#1277 ARM: Correct Sleigh constructors for VNMLA/VNMLS/VNMUL
  Ghidra/Processors/ARM/data/languages/ARMneon.sinc
Labels: Feature: Processor/ARM

#1325 PE: Fix NTHeader name
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/pe/NTHeader.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/PeDataType.java
Labels: Feature: Loader/PE

#1049 Properly model 6502's BRK opcode.
  Ghidra/Processors/6502/data/languages/6502.slaspec
Labels: Feature: Processor/6502

#1312 Fix Windows NE flag parsing error
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/ne/InformationBlock.java
Labels: Feature: Loader/NE

#1295 x86: Properly implement the PTEST instruction
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86

#1286 [tricore] Fix usage of SLEIGH abs()
  Ghidra/Processors/tricore/data/languages/tricore.sinc
Labels: Feature: Processor/Tricore

#745 Exception in sleigh
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/pcodeCPort/slghpatexpress/OperandValue.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/pcodeCPort/slghsymbol/Constructor.java
Labels: Feature: Sleigh

#1201 Support Motorola M6809
  Ghidra/Processors/6805/data/languages/6805.ldefs
  Ghidra/Processors/6805/data/languages/6809.cspec
  Ghidra/Processors/6805/data/languages/6809.pspec
  Ghidra/Processors/6805/data/languages/6809.slaspec
  Ghidra/Processors/6805/data/languages/6x09.sinc
  Ghidra/Processors/6805/data/languages/6x09_exg_tfr.sinc
  Ghidra/Processors/6805/data/languages/6x09_pull.sinc
  Ghidra/Processors/6805/data/languages/6x09_push.sinc
Labels: Feature: Processor/Other

#932 RISC-V processor
  Ghidra/Processors/RISCV/Module.manifest
  Ghidra/Processors/RISCV/build.gradle
  Ghidra/Processors/RISCV/certification.manifest
  Ghidra/Processors/RISCV/data/languages/RV32G.pspec
  Ghidra/Processors/RISCV/data/languages/RV32GC.pspec
  Ghidra/Processors/RISCV/data/languages/RV32I.pspec
  Ghidra/Processors/RISCV/data/languages/RV32IC.pspec
  Ghidra/Processors/RISCV/data/languages/RV32IMC.pspec
  Ghidra/Processors/RISCV/data/languages/RV64G.pspec
  Ghidra/Processors/RISCV/data/languages/RV64GC.pspec
  Ghidra/Processors/RISCV/data/languages/RV64I.pspec
  Ghidra/Processors/RISCV/data/languages/RV64IC.pspec
  Ghidra/Processors/RISCV/data/languages/riscv.csr.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.ilp32.slaspec
  Ghidra/Processors/RISCV/data/languages/riscv.ilp32d.slaspec
  Ghidra/Processors/RISCV/data/languages/riscv.ilp32f.slaspec
  Ghidra/Processors/RISCV/data/languages/riscv.instr.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.ldefs
  Ghidra/Processors/RISCV/data/languages/riscv.lp64.slaspec
  Ghidra/Processors/RISCV/data/languages/riscv.lp64d.slaspec
  Ghidra/Processors/RISCV/data/languages/riscv.lp64f.slaspec
  Ghidra/Processors/RISCV/data/languages/riscv.opinion
  Ghidra/Processors/RISCV/data/languages/riscv.priv.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.reg.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv32a.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv32d.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv32f.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv32i.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv32m.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv32q.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv64a.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv64d.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv64f.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv64i.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv64m.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rv64q.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.rvc.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.table.sinc
  Ghidra/Processors/RISCV/data/languages/riscv.zi.sinc
  Ghidra/Processors/RISCV/data/languages/riscv32-fp.cspec
  Ghidra/Processors/RISCV/data/languages/riscv32-fp.dwarf
  Ghidra/Processors/RISCV/data/languages/riscv32.cspec
  Ghidra/Processors/RISCV/data/languages/riscv32.dwarf
  Ghidra/Processors/RISCV/data/languages/riscv64-fp.cspec
  Ghidra/Processors/RISCV/data/languages/riscv64-fp.dwarf
  Ghidra/Processors/RISCV/data/languages/riscv64.cspec
  Ghidra/Processors/RISCV/data/languages/riscv64.dwarf
  Ghidra/Processors/RISCV/scripts/binutil.py
  Ghidra/Processors/RISCV/src/main/java/ghidra/app/plugin/core/analysis/RISCVAddressAnalyzer.java
  Ghidra/Processors/RISCV/src/main/java/ghidra/app/util/bin/format/elf/extend/RISCV_ElfExtension.java
  Ghidra/Processors/RISCV/src/main/java/ghidra/app/util/bin/format/elf/relocation/RISCV_ElfRelocationConstants.java
  Ghidra/Processors/RISCV/src/main/java/ghidra/app/util/bin/format/elf/relocation/RISCV_ElfRelocationHandler.java
  Ghidra/Processors/RISCV/src/main/java/ghidra/program/emulation/RISCVEmulateInstructionStateModifier.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV32GC_O0_EmulatorTest.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV32GC_O3_EmulatorTest.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV32IMC_O0_EmulatorTest.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV64GC_O0_EmulatorTest.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV64GC_O3_EmulatorTest.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV64G_O0_EmulatorTest.java
  Ghidra/Processors/RISCV/src/test.processors/java/ghidra/test/processors/RV64G_O3_EmulatorTest.java
Labels: Feature: Processor/Other

#1351 switch from md5 to sha256 to check dependencies integrity
  gradle/support/fetchDependencies.gradle
Labels: Feature: Build

#1248 Add functions for handling repeatable comments to the scripting API
  Ghidra/Features/Base/src/main/java/ghidra/app/script/GhidraScript.java
  Ghidra/Features/Base/src/main/java/ghidra/program/flatapi/FlatProgramAPI.java
Labels: Feature: Scripting/Java

#1363 Fixed getRepeatableCommentAsRendered links
  Ghidra/Features/Base/src/main/java/ghidra/program/flatapi/FlatProgramAPI.java
Labels: Feature: Documentation

#872 x86: Improvements to breakpoint disassembly
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86

#1370 BT <r64>,<Reg64> used 32 bit instead of 64-bit modulo size
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86

#1302 [tricore] Improved DVINIT instructions
  Ghidra/Processors/tricore/data/languages/tricore.sinc
Labels: Feature: Processor/Tricore
