Repository NationalSecurityAgency/ghidra, pull requests merged in 2019-11, with the labels that each got.

#1032 Build PDB.exe using MSBuild instead of devenv
  Ghidra/Features/PDB/build.gradle
Labels: Feature: Build

#1161 SuperH (2A) fix sign in action for imm20
  Ghidra/Processors/SuperH/data/languages/superh.sinc
Labels: Feature: Processor/SuperH

#1238 Fix paths in Gradle task descriptions
  gradle/processorProject.gradle
  gradle/root/svg.gradle
  gradle/support/extensionCommon.gradle
Labels: Feature: Build

#1237 Add Table of Contents for the Dev Guide
  DevGuide.md
Labels: Feature: Documentation

#1264 fix movi20 and movi20s in SuperH architecture
  Ghidra/Processors/SuperH/data/languages/superh.sinc
Labels: Feature: Processor/SuperH

#1265 fix typo in token finstr16 SuperH Architecture
  Ghidra/Processors/SuperH/data/languages/superh.sinc
Labels: Feature: Processor/SuperH

#1271 SuperH - Fixes the lvalue for movu.b and movu.w
  Ghidra/Processors/SuperH/data/languages/superh.sinc
Labels: Feature: Processor/SuperH
