Repository NationalSecurityAgency/ghidra, pull requests merged in 2019-10, with the labels that each got.

#839 VarMap stable_sort throws Invalid Comparator
  Ghidra/Features/Decompiler/src/decompile/cpp/varmap.cc
Labels: Feature: Decompiler

#916 Fix typo
  Ghidra/Processors/ARM/data/languages/ARMinstructions.sinc
Labels: Feature: Processor/ARM

#705 Added char8_t support to DemanglerGnu
  GPL/DemanglerGnu/src/demangler_gnu/c/cp-demangle.c
  GPL/DemanglerGnu/src/demangler_gnu/headers/cp-demangle.h
Labels: Feature: Demangler

#1136 Fix typo.
  GhidraBuild/IDAPro/Python/6xx/loaders/xmlldr.py
Labels: Feature: Exporter/IDA

#1012 Link to OperandType in documentation
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/listing/Instruction.java
Labels: Feature: Documentation

#1033 Fix error message when VS do not found
  GPL/nativeBuildProperties.gradle
Labels: Feature: Build

#946 Enhanced ImportSymbolScript.py to import functions, too.
  Ghidra/Features/Python/ghidra_scripts/ImportSymbolsScript.py
Labels: Feature: Scripting/Python
