Repository NationalSecurityAgency/ghidra, pull requests merged in 2021-04, with the labels that each got.

#2882 Fix idaxml set_member_cmt func call
  GhidraBuild/IDAPro/Python/7xx/python/idaxml.py
Labels: Feature: Exporter/IDA

#2891 Fix string splitting exception
  GhidraBuild/IDAPro/Python/7xx/python/idaxml.py
Labels: Feature: Exporter/IDA

#2447 Update 8085.slaspec with "XRA M" or "XRA HL"
  Ghidra/Processors/8085/data/languages/8085.slaspec
Labels: Feature: Processor/8085

#1163 Adds rex.W prefix encoding of J^cc on x86
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86
