Repository NationalSecurityAgency/ghidra, pull requests merged in 2021-03, with the labels that each got.

#2324 Fix #2283 - 'persistent' spelling error
  Ghidra/Features/Base/src/main/java/ghidra/formats/gfilesystem/FileSystemService.java
  Ghidra/Features/Base/src/main/java/ghidra/util/state/VarnodeOperation.java
  Ghidra/Features/Decompiler/ghidra_scripts/GraphAST.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/pcode/PcodeFactory.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/pcode/PcodeSyntaxTree.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/pcode/Varnode.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/pcode/VarnodeAST.java
Labels: Type: Spelling/Typo

#2783 Fixes typo in pcode manual description for SUBPIECE
  Ghidra/Features/Decompiler/src/main/doc/pcoderef.xml
  GhidraDocs/languages/html/pcodedescription.html
Labels: Feature: Documentation, Feature: PCODE, Type: Spelling/Typo

#2111 Add more functions to PEFunctionsThatDoNotReturn
  Ghidra/Features/Base/data/PEFunctionsThatDoNotReturn
Labels: Feature: Loader/PE

#589 Call UIManager.getDefaults() instead of UIManager.getLookAndFeel().getDefaults()
  Ghidra/Framework/Docking/src/main/java/docking/menu/DockingCheckboxMenuItemUI.java
  Ghidra/Framework/Docking/src/main/java/docking/menu/DockingMenuItemUI.java
  Ghidra/Framework/Docking/src/main/java/docking/menu/DockingMenuUI.java
  Ghidra/Framework/Docking/src/main/java/ghidra/docking/util/DockingWindowsLookAndFeelUtils.java
Labels: Feature: GUI

#2651 68000: fix SP postincrement/predecrement with byte operands
  Ghidra/Processors/68000/data/languages/68000.sinc
Labels: Feature: Processor/68000

#2750 Fix ARM Neon VMRS instruction for little endian
  Ghidra/Processors/ARM/data/languages/ARMneon.sinc
Labels: Feature: Processor/ARM

#2754 68000: fix disassembly of fmove.p with dynamic k-factor
  Ghidra/Processors/68000/data/languages/68000.sinc
Labels: Feature: Processor/68000
