Repository NationalSecurityAgency/ghidra, pull requests merged in 2022-03, with the labels that each got.

#3668 MachoLoader LC_FUNCTION_STARTS
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/analysis/MachoFunctionStartsAnalyzer.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/FunctionStartsCommand.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/LoadCommandTypes.java
Labels: Feature: Analysis, Feature: Loader/Mach-O

#4029 Fix tricore sleigh file
  Ghidra/Processors/tricore/data/languages/tricore.sinc
Labels: Feature: Processor/Tricore

#4063 Fix a typo in tips of the day
  Ghidra/Features/Base/src/main/resources/ghidra/app/plugin/core/totd/tips.txt
Labels: Type: Spelling/Typo

#4011 Corrected ARM bfi pcode
  Ghidra/Processors/ARM/data/languages/ARMTHUMBinstructions.sinc
  Ghidra/Processors/ARM/data/languages/ARMinstructions.sinc
Labels: Feature: Processor/ARM

#4018 fixed parsing of popup menu item names in PE menu resources
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/data/MenuResourceDataType.java
Labels: Feature: Loader/PE

#4021 Update PE resource parser to track menu depth
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/pe/ResourceDataDirectory.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/data/MenuResourceDataType.java
Labels: Feature: Loader/PE
