Repository NationalSecurityAgency/ghidra, pull requests merged in 2022-08, with the labels that each got.

#4490 Correct supported Windows versions
  GhidraDocs/InstallationGuide.html
Labels: Feature: Documentation, Status: Internal

#4496 Specify JavaSE-17 for GhidraDevPlugin
  GhidraBuild/EclipsePlugins/GhidraDev/GhidraDevPlugin/META-INF/MANIFEST.MF
Labels: Feature: Eclipse, Status: Internal

#4500 Disabling wildcard path expansion on foreground tasks
  Ghidra/RuntimeScripts/Linux/support/launch.sh
Labels: Feature: Platform/macOS, Feature: Platform/Linux, Feature: Launch, Status: Internal

#4493 Ignore Doxygen generated Decompiler documentation
  Ghidra/Features/Decompiler/.gitignore
Labels: Feature: Decompiler

#4501 Fix PDB info structure display
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/pdb/PdbInfoCodeView.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/pdb/PdbInfoDotNet.java
Labels: Feature: PDB, Status: Internal

#4502 DebugDirectory type is in range 0-20
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/pe/debug/DebugDirectory.java
Labels: Feature: Loader/PE, Status: Internal

#4513 Correct PE rich header write method
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/pe/RichHeader.java
Labels: Feature: Loader/PE

#3784 Fix array backwards access when obtaining an assembly pattern block from longs
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/app/plugin/assembler/sleigh/sem/AssemblyPatternBlock.java
Labels: Feature: Assembler, Status: Internal

#4450 decompiler: fix Merge::compareHighByBlock
  Ghidra/Features/Decompiler/src/decompile/cpp/merge.hh
Labels: Feature: Decompiler, Status: Internal

#4475 Initialize ID lookup tables to fix sleighexample
  Ghidra/Features/Decompiler/src/decompile/cpp/sleighexample.cc
Labels: Feature: Decompiler, Status: Internal

#4535 Fix typo in launch.bat help message
  Ghidra/RuntimeScripts/Windows/support/launch.bat
Labels: Type: Spelling/Typo, Status: Internal

#4511 Sleigh ARMNeon have an ambiguious pattern
  Ghidra/Processors/ARM/data/languages/ARMneon.sinc
Labels: Feature: Processor/ARM, Status: Internal

#4477 SuperH: Fix trapa Regression
  Ghidra/Processors/SuperH/data/languages/superh.sinc
Labels: Feature: Processor/SuperH, Status: Internal

#4550 Updated README_PDB.html
  Ghidra/Features/PDB/src/global/docs/README_PDB.html
Labels: Feature: Documentation
