Repository NationalSecurityAgency/ghidra, pull requests merged in 2022-10, with the labels that each got.

#4270 Implement ColdFire's BITREV, BYTEREV and FF1.
  Ghidra/Processors/68000/data/languages/68000.sinc
  Ghidra/Processors/68000/src/main/java/ghidra/program/emulation/m68kEmulateInstructionStateModifier.java
Labels: Feature: Processor/68000, Status: Internal

#4635 fix building with clang15
  GPL/DemanglerGnu/src/demangler_gnu_v2_33_1/c/missing.c
Labels: Feature: Demangler, Status: Internal

#4646 Add DEFAULT_LIBRARY to the comment class
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfCommentRecord.java
Labels: Feature: Loader/OMF, Status: Internal

#4687 Fix directory for PDB.exe in createPdbXmlFiles.bat script
  Ghidra/RuntimeScripts/Windows/support/createPdbXmlFiles.bat
Labels: Feature: PDB

#4657 Fix build error.
  Ghidra/Debug/Framework-Debugging/src/expCloneExit/c/expCloneExit.c
Labels: Feature: Build, Feature: Debugger

#4678 Python Interpreter: Fix a bug in the code completion functionality
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/console/CodeCompletion.java
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/interpreter/InterpreterPanel.java
  Ghidra/Features/Base/src/test.slow/java/ghidra/app/plugin/core/interpreter/InterpreterPanelTest.java
  Ghidra/Features/Python/python-src/introspect.py
  Ghidra/Features/Python/src/main/java/ghidra/python/PythonCodeCompletionFactory.java
  Ghidra/Features/Python/src/test.slow/java/ghidra/python/PythonCodeCompletionTest.java
Labels: Feature: Python, Status: Internal
