Repository NationalSecurityAgency/ghidra, pull requests merged in 2022-09, with the labels that each got.

#4570 NeLoader now creates memory blocks using FileBytes API
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/ne/Segment.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/NeLoader.java
Labels: Feature: Loader/NE, Status: Internal

#4571 Escape html angle brackets in description for "Enter accepts comment" option in settings
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/comments/CommentsPlugin.java
Labels: Type: Spelling/Typo, Status: Internal

#4546 Add GDB scripts for dynamic debugging of Win32 binaries via Wine.
  Ghidra/Debug/Debugger-agent-gdb/data/scripts/getpid-linux-i386.gdb
  Ghidra/Debug/Debugger-agent-gdb/data/scripts/remote-proc-mappings.py
  Ghidra/Debug/Debugger-agent-gdb/data/scripts/wine32_info_proc_mappings.gdb
Labels: Feature: Processor/x86, Feature: Platform/Windows, Feature: Debugger, Status: Internal

#4223 Implement 68000 PACK and UNPK opcodes.
  Ghidra/Processors/68000/data/languages/68000.sinc
Labels: Feature: Processor/68000, Status: Internal

#4420 Fix equals bugs which do not work due to the wrong classes being compared
  Ghidra/Debug/Debugger-agent-frida/src/main/java/agent/frida/manager/cmd/AbstractFridaCommand.java
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/datamgr/archive/FileArchive.java
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/programtree/DragNDropTree.java
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/references/EditExternalReferencePanel.java
  Ghidra/Features/Base/src/main/java/ghidra/program/util/ProgramSelection.java
Labels: Status: Internal
