Repository NationalSecurityAgency/ghidra, pull requests merged in 2023-05, with the labels that each got.

#4258 New processor for BPF bytecode
  Ghidra/Processors/BPF/Module.manifest
  Ghidra/Processors/BPF/data/languages/BPF.cspec
  Ghidra/Processors/BPF/data/languages/BPF.ldefs
  Ghidra/Processors/BPF/data/languages/BPF.pspec
  Ghidra/Processors/BPF/data/languages/BPF.sinc
  Ghidra/Processors/BPF/data/languages/BPF_le.slaspec
Labels: Feature: Processor, Status: Internal

#4378 eBPF processor support
  Ghidra/Processors/eBPF/Module.manifest
  Ghidra/Processors/eBPF/build.gradle
  Ghidra/Processors/eBPF/certification.manifest
  Ghidra/Processors/eBPF/data/languages/eBPF.cspec
  Ghidra/Processors/eBPF/data/languages/eBPF.dwarf
  Ghidra/Processors/eBPF/data/languages/eBPF.ldefs
  Ghidra/Processors/eBPF/data/languages/eBPF.opinion
  Ghidra/Processors/eBPF/data/languages/eBPF.pspec
  Ghidra/Processors/eBPF/data/languages/eBPF.sinc
  Ghidra/Processors/eBPF/data/languages/eBPF_le.slaspec
  Ghidra/Processors/eBPF/src/main/java/ghidra/app/plugin/core/analysis/eBPFAnalyzer.java
  Ghidra/Processors/eBPF/src/main/java/ghidra/app/util/bin/format/elf/extend/eBPF_ElfExtension.java
  Ghidra/Processors/eBPF/src/main/java/ghidra/app/util/bin/format/elf/relocation/ElfeBPFRelocationFixupHandler.java
  Ghidra/Processors/eBPF/src/main/java/ghidra/app/util/bin/format/elf/relocation/eBPF_ElfRelocationConstants.java
  Ghidra/Processors/eBPF/src/main/java/ghidra/app/util/bin/format/elf/relocation/eBPF_ElfRelocationHandler.java
Labels: Feature: Processor, Status: Internal

#5194 Fix 'halt' instruction decoding as 'tas' on coldfire
  Ghidra/Processors/68000/data/languages/68000.sinc
Labels: Feature: Processor/68000, Status: Internal

#5298 Adjust plate comment word-wrap to take account of the plate wrapping space.
  Ghidra/Features/Base/src/main/java/ghidra/app/util/viewer/field/PlateFieldFactory.java
Labels: Status: Internal

#5292 Add support for R_AARCH64_MOVW_UABS_G* relocations
  Ghidra/Processors/AARCH64/src/main/java/ghidra/app/util/bin/format/elf/relocation/AARCH64_ElfRelocationHandler.java
Labels: Feature: Loader/ELF, Feature: Processor/AARCH64, Status: Internal

#5283 Fixed instructions in README
  README.md
Labels: Feature: Documentation, Status: Internal

#4886 fix: incorrect sleigh in e_stmvsprw for PPC VLE
  Ghidra/Processors/PowerPC/data/languages/ppc_vle.sinc
Labels: Feature: Processor/PowerPC, Status: Internal

#5242 fix multiequal op handling in ShowConstantUse.java
  Ghidra/Features/Decompiler/ghidra_scripts/ShowConstantUse.java
Labels: Status: Internal
