Repository NationalSecurityAgency/ghidra, pull requests merged in 2023-01, with the labels that each got.

#4872 Removing `eval` usage from `launch.sh`
  Ghidra/RuntimeScripts/Linux/support/launch.sh
  GhidraBuild/LaunchSupport/src/main/java/LaunchSupport.java
  GhidraBuild/LaunchSupport/src/main/java/ghidra/launch/LaunchProperties.java
Labels: Feature: Platform/macOS, Feature: Platform/Linux, Type: Security, Feature: Launch, Status: Internal

#4857 OMF format: Added handling of ALIAS record type (Closes #4856)
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfFileHeader.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfLineNumberRecord.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfRecord.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfUnsupportedRecord.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/OmfLoader.java
Labels: Feature: Loader/OMF, Status: Internal

#4910 Fix build error after 8b442ea
  Ghidra/Features/Decompiler/src/decompile/cpp/float.cc
Labels: Feature: Decompiler, Feature: Build, Status: Internal
