Repository NationalSecurityAgency/ghidra, pull requests merged in 2023-07, with the labels that each got.

#3760 Fix typo causing "hasRangeMatch" to always be true
  Ghidra/Features/PDB/src/main/java/ghidra/app/util/bin/format/pdb/ApplyFunctions.java
Labels: Feature: PDB, Status: Internal

#5482 Documentation: Ensure HTML files are UTF-8 encoded
  Ghidra/Features/Decompiler/src/main/doc/cspec_html.xsl
  Ghidra/Features/Decompiler/src/main/doc/decompileplugin_html.xsl
  Ghidra/Features/Decompiler/src/main/doc/pcoderef_html.xsl
  Ghidra/Features/Decompiler/src/main/doc/sleigh_html.xsl
  Ghidra/Features/Decompiler/src/main/help/help/topics/DecompilePlugin/DecompilerAnnotations.html
  Ghidra/Features/Decompiler/src/main/help/help/topics/DecompilePlugin/DecompilerConcepts.html
  Ghidra/Features/Decompiler/src/main/help/help/topics/DecompilePlugin/DecompilerIntro.html
  Ghidra/Features/Decompiler/src/main/help/help/topics/DecompilePlugin/DecompilerOptions.html
  Ghidra/Features/Decompiler/src/main/help/help/topics/DecompilePlugin/DecompilerWindow.html
  GhidraDocs/languages/html/additionalpcode.html
  GhidraDocs/languages/html/pcodedescription.html
  GhidraDocs/languages/html/pcoderef.html
  GhidraDocs/languages/html/pseudo-ops.html
  GhidraDocs/languages/html/reference.html
  GhidraDocs/languages/html/sleigh.html
  GhidraDocs/languages/html/sleigh_constructors.html
  GhidraDocs/languages/html/sleigh_context.html
  GhidraDocs/languages/html/sleigh_definitions.html
  GhidraDocs/languages/html/sleigh_layout.html
  GhidraDocs/languages/html/sleigh_preprocessing.html
  GhidraDocs/languages/html/sleigh_ref.html
  GhidraDocs/languages/html/sleigh_symbols.html
  GhidraDocs/languages/html/sleigh_tokens.html
Labels: Feature: Decompiler, Feature: Documentation, Status: Internal

#5569 Fix ability to set working directory and env for dbgeng debug processes
  Ghidra/Debug/Debugger-agent-dbgeng/src/main/java/agent/dbgeng/impl/dbgeng/client/DebugClientImpl1.java
  Ghidra/Debug/Debugger-agent-dbgeng/src/main/java/agent/dbgeng/impl/dbgeng/client/DebugClientImpl3.java
  Ghidra/Debug/Debugger-agent-dbgeng/src/main/java/agent/dbgeng/model/impl/DbgModelTargetProcessLaunchConnectorImpl.java
Labels: Feature: Debugger, Status: Internal

#5598 Fix typo in versioning.html
  GhidraDocs/languages/versioning.html
Labels: Type: Spelling/Typo, Status: Internal
