Repository NationalSecurityAgency/ghidra, pull requests merged in 2023-04, with the labels that each got.

#5154 OMF format: Select 16/32 bit based on SEGHEAD (Closes #5081)
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfCommentRecord.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfFileHeader.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/OmfSegmentHeader.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/OmfLoader.java
  Ghidra/Processors/x86/data/languages/x86.opinion
Labels: Feature: Loader/OMF, Status: Internal

#5156 update to v1.4
  Ghidra/Features/GraphServices/Module.manifest
  Ghidra/Features/GraphServices/build.gradle
  Ghidra/Features/GraphServices/src/main/java/ghidra/graph/visualization/DefaultGraphDisplay.java
Labels: Feature: Graphing, Status: Internal

#5211 Fix C++ sleighexample compilation
  Ghidra/Features/Decompiler/src/decompile/cpp/sleighexample.cc
Labels: Feature: Decompiler, Status: Internal

#5216 Fix warning "error: unmappable character (0xE2) for encoding US-ASCII"
  Ghidra/Debug/Debugger-agent-lldb/src/main/java/agent/lldb/model/impl/LldbModelTargetProcessLaunchWithOptionsConnectorImpl.java
Labels: Type: Spelling/Typo, Feature: Debugger, Status: Internal
