Repository NationalSecurityAgency/ghidra, pull requests merged in 2024-11, with the labels that each got.

#7131 remove redundant duplicated line of code
  Ghidra/Framework/Docking/src/main/java/docking/options/editor/FontPropertyEditor.java
Labels: Status: Internal

#7152 misspellings of "choosen" and "preceed"
  GPL/DemanglerGnu/src/demangler_gnu_v2_24/c/cplus-dem.c
  GPL/DemanglerGnu/src/demangler_gnu_v2_41/c/cplus-dem.c
  Ghidra/Features/Base/src/main/help/help/topics/DataTypeEditors/StructureEditor.htm
  Ghidra/Features/Base/src/main/help/help/topics/Navigation/Navigation.htm
  Ghidra/Features/Base/src/main/help/help/topics/ReferencesPlugin/References_from.htm
  Ghidra/Features/Base/src/main/java/ghidra/app/util/viewer/field/CommentUtils.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/viewer/field/PreCommentFieldFactory.java
  Ghidra/Features/Base/src/main/java/ghidra/formats/gfilesystem/FileSystemProbeConflictResolver.java
  Ghidra/Features/Base/src/main/java/ghidra/plugins/importer/tasks/ImportBatchTask.java
  Ghidra/Features/Base/src/main/java/ghidra/program/flatapi/FlatProgramAPI.java
  Ghidra/Features/BytePatterns/src/main/java/ghidra/closedpatternmining/ProjectedDatabase.java
  Ghidra/Features/FileFormats/src/lzfse/c/lzvn_decode_base.c
  Ghidra/Features/FileFormats/src/main/java/ghidra/file/formats/dump/mdmp/MemoryRange64.java
  Ghidra/Features/GnuDemangler/ghidra_scripts/VxWorksSymTab_Finder.java
  Ghidra/Framework/DB/src/main/java/db/Field.java
  Ghidra/Framework/Docking/src/main/java/docking/menu/MenuHandler.java
  Ghidra/Framework/Generic/src/main/java/ghidra/util/graph/attributes/DoubleAttribute.java
  Ghidra/Framework/Project/src/main/java/ghidra/framework/plugintool/mgr/ToolTaskManager.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/app/plugin/processors/sleigh/symbol/SubtableSymbol.java
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/disassemble/Disassembler.java
  GhidraBuild/BuildFiles/Doclets/src/main/java/ghidra/doclets/typestubs/JavadocConverter.java
Labels: Type: Spelling/Typo, Status: Internal

#7083 BSim: Fix incomplete commands in DatabaseConfiguration.html
  Ghidra/Features/BSim/src/main/help/help/topics/BSim/DatabaseConfiguration.html
Labels: Status: Internal, Feature: BSim

#7087 BSim: Enable stderr display on console in runCommand()
  Ghidra/Features/BSim/src/main/java/ghidra/features/bsim/query/BSimControlLaunchable.java
Labels: Status: Internal, Feature: BSim

#7106 BSim: Add DN_OPTION to fix bsim_ctl changeauth for PKI authentication
  Ghidra/Features/BSim/src/main/java/ghidra/features/bsim/query/BSimControlLaunchable.java
Labels: Status: Internal, Feature: BSim

#7181 3 typos/grammar fixes
  Ghidra/Features/Decompiler/src/main/doc/sleigh.xml
  GhidraDocs/languages/html/sleigh_constructors.html
  GhidraDocs/languages/html/sleigh_tokens.html
Labels: Type: Spelling/Typo, Status: Internal

#7214 make error messages match logic
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/BinaryLoader.java
Labels: Feature: Loader/Binary, Status: Internal
