Repository NationalSecurityAgency/ghidra, pull requests merged in 2024-12, with the labels that each got.

#7231 Base: Sync headless analyzer docs
  Ghidra/Features/Base/src/main/help/help/topics/HeadlessAnalyzer/HeadlessAnalyzer.htm
Labels: Feature: Documentation, Feature: Headless, Status: Internal

#7251 Fix potential IndexOutOfBoundsException in PDB parsing
  Ghidra/Features/PDB/src/main/java/ghidra/app/util/bin/format/pdb2/pdbreader/SymbolRecords.java
Labels: Feature: PDB, Status: Internal

#7255 typo/grammar
  Ghidra/Features/Base/src/main/help/help/topics/Navigation/Navigation.htm
Labels: Type: Spelling/Typo, Status: Internal

#7288 BSim: Clarify install dependencies for PostgreSQL server
  Ghidra/Features/BSim/src/main/help/help/topics/BSim/DatabaseConfiguration.html
  Ghidra/Features/BSim/support/make-postgres.sh
Labels: Status: Internal, Feature: BSim

#7307 BSim: Add missing verb to docs
  Ghidra/Features/BSim/src/main/help/help/topics/BSim/DatabaseConfiguration.html
Labels: Type: Spelling/Typo, Status: Internal
