Repository NationalSecurityAgency/ghidra, pull requests merged in 2024-04, with the labels that each got.

#6372 decompiler-cpp: Open sla files as 'binary'
  Ghidra/Features/Decompiler/src/decompile/cpp/sleigh.cc
Labels: Feature: Decompiler, Status: Internal

#5382 Fix ASAN static initialization order fiasco
  Ghidra/Features/Decompiler/src/decompile/cpp/test.cc
  Ghidra/Features/Decompiler/src/decompile/cpp/test.hh
Labels: Feature: Decompiler, Status: Internal

#6276 Fix C++ sleighexample
  Ghidra/Features/Decompiler/src/decompile/cpp/sleighexample.cc
Labels: Feature: Decompiler, Status: Internal

#6432 Change error message to be more correct
  Ghidra/Features/BSim/src/main/java/ghidra/features/bsim/gui/search/dialog/CreateBsimServerInfoDialog.java
Labels: Type: Spelling/Typo

#6249 Fixed false error in GhidraJarBuilder.java
  Ghidra/Features/Base/src/main/java/ghidra/util/GhidraJarBuilder.java
Labels: Feature: ghidra.jar, Status: Internal
