Repository NationalSecurityAgency/ghidra, pull requests merged in 2024-07, with the labels that each got.

#6688 Fix bugs in logging statement
  Ghidra/Features/GhidraServer/src/main/java/ghidra/server/Repository.java
Labels: Feature: Server, Status: Internal

#6690 68000: Update condition flags for `ext` instruction
  Ghidra/Processors/68000/data/languages/68000.sinc
Labels: Feature: Processor/68000, Status: Internal

#6513 x86: Add missing float-to-integer cast operation to CVTSD2SI/CVTSD2SI
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86, Status: Internal

#6526 AArch32: ldaexd addr src register aliased as first dest register causing second word load at the value of first load
  Ghidra/Processors/ARM/data/languages/ARMv8.sinc
Labels: Feature: Processor/ARM, Status: Internal

#6529 AArch32: sha1su0.32 had a destructive 64-bit left shift on a 64-bit value before zext
  Ghidra/Processors/ARM/data/languages/ARMneon.sinc
Labels: Feature: Processor/ARM, Status: Internal

#6530 AArch32: sha1su1.32 had destructive left shifts on 32-bit values before zext
  Ghidra/Processors/ARM/data/languages/ARMneon.sinc
Labels: Feature: Processor/ARM, Status: Internal
