Repository NationalSecurityAgency/ghidra, pull requests merged in 2024-08, with the labels that each got.

#6625 Docs: Add instruction for MacOS to avoid unverified developer error
  GhidraDocs/InstallationGuide.html
Labels: Feature: Documentation, Feature: Platform/macOS, Status: Internal

#6305 Create proper memory references for scalars in segmented address spaces.
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/references/CreateDefaultReferenceAction.java
Labels: Status: Internal

#6744 Fix PDB parsing of recoverable malformed datatypes
  Ghidra/Features/PDB/src/main/java/ghidra/app/util/bin/format/pdb/PdbDataTypeParser.java
Labels: Feature: PDB, Status: Internal

#6788 fix: handle namespaces when processing bitfields
  Ghidra/Features/PDB/src/main/java/ghidra/app/util/bin/format/pdb/DefaultPdbMember.java
Labels: Feature: PDB, Status: Internal

#6689 fix SparcV9 compared value
  Ghidra/Processors/Sparc/data/languages/SparcV9.sinc
Labels: Type: Bug, Status: Internal, Feature: Processor/Sparc

#6834 feat: cache vfunctions list
  Ghidra/Features/Decompiler/ghidra_scripts/classrecovery/RecoveredClassHelper.java
Labels: Status: Internal

#6844 fix: restore debugInfo null check
  Ghidra/Features/PDB/src/main/java/ghidra/app/util/pdb/pdbapplicator/PdbAddressManager.java
Labels: Feature: PDB, Status: Internal
