Repository NationalSecurityAgency/ghidra, pull requests merged in 2025-02, with the labels that each got.

#7421 Add missing switch case in `PcodeOp.getMnemonic` for `SEGMENTOP`
  Ghidra/Framework/SoftwareModeling/src/main/java/ghidra/program/model/pcode/PcodeOp.java
Labels: Status: Internal

#7429 FunctionID: Add Rust and Swift demanglers to headless Prescript
  Ghidra/Features/FunctionID/ghidra_scripts/FunctionIDHeadlessPrescript.java
Labels: Status: Internal

#7436 (Mach-O) Start using `long` for symbol table offsets instead of `int`.
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/DynamicSymbolTableCommand.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/LinkEditDataCommand.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/LoadCommand.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/SymbolTableCommand.java
  Ghidra/Features/FileFormats/src/main/java/ghidra/file/formats/ios/ExtractedMacho.java
Labels: Feature: Loader/Mach-O

#7493 Add content records (restoring files accidentally removed)
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/omf51/Omf51Content.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/omf/omf51/Omf51RecordFactory.java
Labels: Feature: Loader/OMF, Status: Internal
