Repository NationalSecurityAgency/ghidra, pull requests merged in 2025-07, with the labels that each got.

#7065 68HC05: Fix #7064 - incorrect handling of X-indexed JMP and JSR
  Ghidra/Processors/HCS08/data/languages/HCS_HC.sinc
  Ghidra/Processors/MC6800/data/languages/6805.slaspec
Labels: Type: Bug, Feature: Processor/MC6800, Status: Internal, Feature: Processor/HCS08

#7929 Fix eBPF CALL operand decoding
  Ghidra/Processors/eBPF/data/languages/eBPF.sinc
  Ghidra/Processors/eBPF/src/main/java/ghidra/app/util/bin/format/elf/relocation/eBPF_ElfRelocationHandler.java
Labels: Status: Internal, Feature: Processor/BPF

#7979 Fix eBPF zero-extend load instructions
  Ghidra/Processors/eBPF/data/languages/eBPF.sinc
Labels: Status: Internal, Feature: Processor/eBPF

#7985 Fix the semantics of eBPF byte swap instructions
  Ghidra/Processors/eBPF/certification.manifest
  Ghidra/Processors/eBPF/data/languages/eBPF.ldefs
  Ghidra/Processors/eBPF/data/languages/eBPF.opinion
  Ghidra/Processors/eBPF/data/languages/eBPF.sinc
  Ghidra/Processors/eBPF/data/languages/eBPF_be.slaspec
  Ghidra/Processors/eBPF/data/languages/eBPF_le.slaspec
Labels: Type: Bug, Status: Internal, Feature: Processor/eBPF
