Repository NationalSecurityAgency/ghidra, pull requests merged in 2025-05, with the labels that each got.

#8117 Fixing LLDB argument passing bug (#8115) in debug launcher
  Ghidra/Debug/Debugger-agent-lldb/data/debugger-launchers/android-lldb.sh
  Ghidra/Debug/Debugger-agent-lldb/data/debugger-launchers/kernel-lldb.sh
  Ghidra/Debug/Debugger-agent-lldb/data/debugger-launchers/local-lldb.sh
Labels: Feature: Debugger, Status: Internal

#8151 x86: Fix missing zero-extension in CVTTSD2SI
  Ghidra/Processors/x86/data/languages/ia.sinc
Labels: Feature: Processor/x86, Status: Internal

#8193 Fixing typo in RenameStructureFieldTask "created by" comment
  Ghidra/Features/Decompiler/src/main/java/ghidra/app/plugin/core/decompile/actions/RenameStructFieldTask.java
Labels: Status: Internal
