Repository NationalSecurityAgency/ghidra, pull requests merged in 2025-03, with the labels that each got.

#7877 DyldChainedImport: fix offset mask bug
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/macho/commands/chained/DyldChainedImport.java
Labels: Feature: Loader/Mach-O, Status: Internal

#6204 PIC: Fix PIC16F description
  Ghidra/Processors/PIC/data/languages/pic16.ldefs
Labels: Feature: Processor/PIC, Status: Internal

#5004 Feature: UNIX A.out Loader
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutHeader.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutMachineType.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutRelocation.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutRelocationTable.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutStringTable.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutSymbol.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/bin/format/unixaout/UnixAoutSymbolTable.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/UnixAoutLoader.java
  Ghidra/Features/Base/src/main/java/ghidra/app/util/opinion/UnixAoutProgramLoader.java
Labels: Feature: Loader, Status: Internal

#7885 Detect more rust binaries
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/analysis/rust/RustConstants.java
  Ghidra/Features/Base/src/main/java/ghidra/app/plugin/core/analysis/rust/RustUtilities.java
Labels: Status: Internal, Feature: Language/Rust
